<div class="container">
  <div class="header item">
    <p>TABLE</p>
  </div>
  <div class="table item">
    <div class="tb1 ord">
      <div class="tb-top">
        <div class="ord-contain quarter-1">TAB.01</div>
        <div class="ord-contain quarter-2">Mr.Quynh</div>
      </div>
      <div class="tb-bot">
        <div class="ord-contain quarter-3">3 Orders</div>
        <div class="ord-contain quarter-4">ready</div>
      </div>
    </div>
    <div class="tb2 ord">

    </div>
    <div class="tb3 ord">

    </div>
    <div class="tb4 ord">

    </div>
    <div class="tb5 ord">

    </div>
    <div class="tb6 ord">

    </div>
  </div>
  <div class="menu item">
    <div class="menu1 icon">
      <i>Icon 1</i>
    </div>
    <div class="menu2 icon">
      <i>Icon 2</i>
    </div>
    <div class="menu3 icon">
      <i>Icon 3</i>
    </div>
  </div>
</div>