input {
    border: none;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    outline: none;
}

.login-form {
    display: inline;
    text-align: center;
}

button {
    border: 1px solid brown;
    background-color: brown;
    border-radius: 20px;
    padding: 10px 100px;
    color: white;
    margin-top: 200px;
}